/* CSS styling - for Working with Get  request component */
.get-div{
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding:5%;
}

.get-inner-div{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

p{
    margin:0;
    padding:0;
}

.m-5{
    padding: 0;
    margin:0;
}


.mt-20{
    margin-top:20px;
}

/* Users Card CSS styling */
.card{
    background: #FFFFFF;
    border-radius: 10px;
    height: 254px;
    width: 282px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding:20px;
    margin: 2%;
}

.card-img{
    border-radius: 50%;
    width: 70px;
    height:70px;
}

/* Tootip styling CSS */
.tooltip-text{
    display: none;
    background-color: #00000087;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-family: 'Nunito', sans-serif;
    position: fixed;
    top:50vh;
    z-index: 1;
}

.tooltip-div:hover .tooltip-text {
    display: block;
}

/* Media Query for mobile responsiveness */
@media (max-width: 708px) {
    .tac {
        text-align: center;
    }
}
